
.ytp-play-progress {
    background: red !important;
}

.ytd-thumbnail-overlay-resume-playback-renderer#progress {
    background: red !important;
}

#background.ytd-masthead,
ytd-masthead[frosted-glass=with-chipbar] #background.ytd-masthead {
    background: var(--yt-spec-base-background) !important;
}

