.ytp-play-progress,
#progress {
    background: var(--yt-spec-static-brand-red) !important;
}

.ytd-thumbnail-overlay-resume-playback-renderer#progress {
    background: red !important;
}

.YtThumbnailOverlayProgressBarHostWatchedProgressBarSegmentModern {
    background: var(--yt-spec-static-brand-red) !important;
}

.YtChapteredProgressBarChapteredPlayerBarChapterRefresh {
    background: var(--yt-spec-static-brand-red) !important;
}

.YtChapteredProgressBarChapteredPlayerBarFillRefresh {
    background: var(--yt-spec-static-brand-red) !important;
}

.YtProgressBarLineProgressBarPlayedRefresh {
    background: red !important;
}

#progress.yt-page-navigation-progress {
    background: var(--yt-spec-static-brand-red) !important;
}

.yt-icon-shape > div > svg > g:first-of-type > path:first-of-type {
    fill: var(--yt-spec-static-brand-red) !important;
}

#background.ytd-masthead,
ytd-masthead[frosted-glass=with-chipbar] #background.ytd-masthead {
    background: var(--yt-spec-base-background) !important;
}

.yt-spec-icon-badge-shape--type-notification-refresh .yt-spec-icon-badge-shape__badge {
    background-color: red !important;
    color: white !important;
}

#right-arrow-container {
    display: none !important; 
}

#teaser-carousel {
    display: none !important; /* removes click to view premier chat icon bcz there is one already */
}

.ytd-rich-shelf-renderer {
    display: none !important; /* removes games youtube */
}

/*
tp-yt-paper-dialog {
    display: none !important; /* removes sponsor this channel popup (NOW BREAKING YOUTUBE CHANNEL DESCRIPTION PAGE)*/ 
}
*/
